@font-face {
  font-family: 'Athelas';
  src: url('../fonts/Athelas-Regular.woff2') format('woff2'),
  url('../fonts/Athelas-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Athelas';
  src: url('../fonts/Athelas-Bold.woff2') format('woff2'),
  url('../fonts/Athelas-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amethysta';
  src: url('../fonts/Amethysta-Regular.woff2') format('woff2'),
  url('../fonts/Amethysta-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


