.page {
  .page__grid {
    display: grid;
    grid-template-columns: 208px calc(100% - 238px);
    grid-gap: 30px;
    @media (max-width: 767.98px) {
      grid-template-columns: 100%;
      grid-gap: 0;
    }
  }

  &__aside{
    @media (max-width: 767.98px){
      display: none;
    }
  }
}